.royal-coins {
  width: 800px;
  max-height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.royal-coins__menu-header {
  padding-left: 34px;
  padding-right: 128px;
  width: 100%;
  min-height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #913bff;
  background: -webkit-gradient(linear, left top, left bottom, from(#8000ff), color-stop(40.42%, #9e00ff), to(#61009c));
  background: -o-linear-gradient(top, #8000ff 0%, #9e00ff 40.42%, #61009c 100%);
  background: linear-gradient(180deg, #8000ff 0%, #9e00ff 40.42%, #61009c 100%);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px -11px 19px 0px rgba(56, 0, 112, 0.63) inset;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px -11px 19px 0px rgba(56, 0, 112, 0.63) inset;
}
.royal-coins__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 80px;
}
.royal-coins__frame {
  width: 100%;
  height: 100%;
  background-image: url("../img/backgrounds/R23 1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.royal-coins__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 5px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
  height: 243px;
  padding-top: 4px;
  padding-bottom: 8px;
  width: 459px;
  overflow: hidden;
}
.royal-coins .column-1 {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 240px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  gap: 8px;
  -webkit-transition: 3s cubic-bezier(0.21, 0.53, 0.29, 0.97);
  -o-transition: 3s cubic-bezier(0.21, 0.53, 0.29, 0.97);
  transition: 3s cubic-bezier(0.21, 0.53, 0.29, 0.97);
}
.royal-coins .column-2 {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 240px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  gap: 13px;
  -webkit-transition: 3s cubic-bezier(0.21, 0.53, 0.29, 0.97);
  -o-transition: 3s cubic-bezier(0.21, 0.53, 0.29, 0.97);
  transition: 3s cubic-bezier(0.21, 0.53, 0.29, 0.97);
}
.royal-coins .column-3 {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 240px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  gap: 13px;
  -webkit-transition: 3s cubic-bezier(0.21, 0.53, 0.29, 0.97);
  -o-transition: 3s cubic-bezier(0.21, 0.53, 0.29, 0.97);
  transition: 3s cubic-bezier(0.21, 0.53, 0.29, 0.97);
}
.royal-coins .column-4 {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 240px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  gap: 13px;
  -webkit-transition: 3s cubic-bezier(0.21, 0.53, 0.29, 0.97);
  -o-transition: 3s cubic-bezier(0.21, 0.53, 0.29, 0.97);
  transition: 3s cubic-bezier(0.21, 0.53, 0.29, 0.97);
}
.royal-coins .column-5 {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 240px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  gap: 13px;
  -webkit-transition: 3s cubic-bezier(0.21, 0.53, 0.29, 0.97);
  -o-transition: 3s cubic-bezier(0.21, 0.53, 0.29, 0.97);
  transition: 3s cubic-bezier(0.21, 0.53, 0.29, 0.97);
}
.royal-coins .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 78px;
  height: 70px;
}
.royal-coins__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 18.5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ffb800;
  background: #370063;
  -webkit-box-shadow: 0px 4px 3px 0px rgba(32, 0, 65, 0.91) inset;
          box-shadow: 0px 4px 3px 0px rgba(32, 0, 65, 0.91) inset;
  width: 241px;
  height: 36px;
  position: relative;
}
.royal-coins__money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 18.5px;
  border: 1px solid #ffb800;
  background: #370063;
  -webkit-box-shadow: 0px 4px 3px 0px rgba(32, 0, 65, 0.91) inset;
          box-shadow: 0px 4px 3px 0px rgba(32, 0, 65, 0.91) inset;
  width: 241px;
  height: 36px;
  position: relative;
}
.royal-coins__menu-footer {
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 100%;
  min-height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid #913bff;
  background: -webkit-gradient(linear, left top, left bottom, from(#8000ff), color-stop(40.42%, #9e00ff), to(#61009c));
  background: -o-linear-gradient(top, #8000ff 0%, #9e00ff 40.42%, #61009c 100%);
  background: linear-gradient(180deg, #8000ff 0%, #9e00ff 40.42%, #61009c 100%);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px -11px 19px 0px rgba(56, 0, 112, 0.63) inset;
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px -11px 19px 0px rgba(56, 0, 112, 0.63) inset;
}
.royal-coins__rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 13px;
}
.royal-coins__win-score {
  border-radius: 10px;
  background: #320950;
  width: 189px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.royal-coins__play-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.rating {
  font-size: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#06f), to(#bd00ff));
  background: -o-linear-gradient(top, #06f 0%, #bd00ff 100%);
  background: linear-gradient(180deg, #06f 0%, #bd00ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.score {
  background: -webkit-gradient(linear, left top, left bottom, from(#ebff00), to(#ffa800));
  background: -o-linear-gradient(top, #ebff00 0%, #ffa800 100%);
  background: linear-gradient(180deg, #ebff00 0%, #ffa800 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 500;
}

.royal-coins__rating::after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/icons/Group.svg");
  width: 49px;
  height: 49px;
  left: -2px;
}

.rate {
  background: -webkit-gradient(linear, left top, left bottom, from(#ebff00), to(#ffa800));
  background: -o-linear-gradient(top, #ebff00 0%, #ffa800 100%);
  background: linear-gradient(180deg, #ebff00 0%, #ffa800 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-weight: 500;
}

.royal-coins__money::before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../img/icons/Frame.svg");
  width: 39px;
  height: 27px;
  left: 6px;
}

.rate-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 86px;
  height: 38px;
  border-radius: 10px;
  background: #320950;
}

.money {
  font-size: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ebff00), to(#ffa800));
  background: -o-linear-gradient(top, #ebff00 0%, #ffa800 100%);
  background: linear-gradient(180deg, #ebff00 0%, #ffa800 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

.back-button {
  width: 40px;
  height: 40px;
  margin-top: 8px;
}

.auto {
  width: 99px;
  height: 46px;
  border: none;
  outline: none;
  border-radius: 11px;
  border: 1px solid #00a3ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#70ff00), color-stop(0.01%, #bd00ff), to(#005484));
  background: -o-linear-gradient(top, #70ff00 0%, #bd00ff 0.01%, #005484 100%);
  background: linear-gradient(180deg, #70ff00 0%, #bd00ff 0.01%, #005484 100%);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(36, 255, 0, 0.27), 0px 4px 4px 0px rgba(255, 247, 207, 0.65) inset, 0px -6px 4px 0px rgba(0, 163, 255, 0.26) inset;
          box-shadow: 0px 4px 4px 0px rgba(36, 255, 0, 0.27), 0px 4px 4px 0px rgba(255, 247, 207, 0.65) inset, 0px -6px 4px 0px rgba(0, 163, 255, 0.26) inset;
  font-family: Impact;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  color: rgb(0, 224, 255);
  cursor: pointer;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}

.auto:hover {
  opacity: 0.8;
}

.spin {
  border: none;
  outline: none;
  width: 99px;
  height: 46px;
  border-radius: 11px;
  border: 1px solid #ffb800;
  background: -webkit-gradient(linear, left top, left bottom, from(#70ff00), to(#008405));
  background: -o-linear-gradient(top, #70ff00 0%, #008405 100%);
  background: linear-gradient(180deg, #70ff00 0%, #008405 100%);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(36, 255, 0, 0.27), 0px 4px 4px 0px rgba(255, 247, 207, 0.65) inset, 0px -6px 4px 0px rgba(0, 255, 56, 0.26) inset;
          box-shadow: 0px 4px 4px 0px rgba(36, 255, 0, 0.27), 0px 4px 4px 0px rgba(255, 247, 207, 0.65) inset, 0px -6px 4px 0px rgba(0, 255, 56, 0.26) inset;
  font-family: Impact;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  color: #33ff00;
  cursor: pointer;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}

.spin:hover {
  opacity: 0.8;
}

.button {
  border: none;
  outline: none;
  width: 42px;
  height: 42px;
  border: 1px solid black;
  border-radius: 50%;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  border: 1px solid rgb(224, 155, 244);
  color: #fff;
  text-align: center;
  text-shadow: 0px 2px 2px 0px #330e4f;
  font-size: 20px;
  font-weight: 400;
  background: -o-radial-gradient(#ff00e5, #9501ff);
  background: radial-gradient(#ff00e5, #9501ff);
  padding-bottom: 3px;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.back-btn {
  padding-top: 10px;
  padding-right: 2px;
}

.active img {
  -webkit-transform: scale(1.11);
      -ms-transform: scale(1.11);
          transform: scale(1.11);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #240247;
}